# ==========================================
# KONFIGURASI BOT REKAP NILAI CBT
# SMP Hang Tuah 5 Sidoarjo
# ==========================================

# 1. Token Bot Telegram (Didapat dari @BotFather di Telegram)
TELEGRAM_BOT_TOKEN=8987573770:AAGk1bMXJrxXr2HHREkuwrguODCi43Hhh5Y

# 2. Alamat Link URL Server CBT (tanpa tanda garis miring / di akhir)
CBT_URL=https://assesment.cbt-smpht5.my.id

# 3. Username / Email & Password Login Admin CBT
CBT_EMAIL=admin@shellrean.id
CBT_PASSWORD=criticalpassword

# 4. (Opsional) Integrasi n8n
N8N_WEBHOOK_URL=http://localhost:5678/webhook/rekap-nilai
N8N_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1ZGVhMGNhOS0xNWEyLTQwYzMtYWQ0OC0yOTBlOTBhNDA3ZmMiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiOTk0OTUzNTAtMjI3Mi00MGI1LTlkMzktMzNlNmE2NjA2MWExIiwiaWF0IjoxNzg4Nzk2ODIzfQ.rutODfAQn3CHiaaig_mN_8uT0m6UxW9rzBs8zYv909w
